{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{ path('admin_category_update', {'id' : category.id}) }}" method="get">

        <label for="title">Titre</label>
        <input type="text" name="title">
        <br>
        <label for="title">Contenu</label>
        <input type="color" name="color">
        <br>
        <input type="submit">

    </form>
{% endblock %}