{% extends 'base.html.twig' %}

{% block main %}
    {% for category in categories %}
        {% if category.isPublished %}
            <a href="{{ path('admin_category', {'id' : category.id }) }}" style="color: {{ category.color }};">{{ category.title }}</a>
            <br>
        {% else %}
            <p>Cette catégorie n'est pas encore publiée</p>
        {% endif %}
    {% endfor %}
{% endblock %}