{% include '_header.html.twig' %}

<main>
    {% for article in lastArticles %}
        <a href="{{ path('article', { 'id' : article.id }) }}">{% include '_article.html.twig' %}</a>
    {% endfor %}
</main>

{% include '_footer.html.twig' %}