{% extends 'base.html.twig' %}

{% block main %}
    <section id="formulaire">
        <form action="{{ path('home') }}">
            <label for="age">Quel est votre âge ?</label>
            <br>
            <input type="number" id="age" name="age">
            <br>
            <input type="submit" value="submit">
        </form>
        <br>
    </section>

    <section id="article">
        {% for article in lastArticles %}
            {% if article.isPublished %}
                <a href="{{ path('admin_article', { 'id' : article.id }) }}">{% include '_article.html.twig' %}</a>
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <p>Page d'accueil</p>
{% endblock %}