{% include '_header.html.twig' %}

<main>
    <form action="{{ path('home') }}">
        <label for="age">Quel est votre âge ?</label>
        <br>
        <input type="number" id="age" name="age">
        <br>
        <input type="submit" value="submit">
    </form>
    <br>
    {% for article in lastArticles %}
        {% if article.isPublished %}
            <a href="{{ path('article', { 'id' : article.id }) }}">{% include '_article.html.twig' %}</a>
        {% endif %}
    {% endfor %}
</main>

{% include '_footer.html.twig' %}