{% extends 'base.html.twig' %}

{% block title %}
    <title>Liste d'articles</title>
{% endblock %}

{% block main %}
    {% for article in articles %}
        {% if article.isPublished %}
            <a href="{{ path('article', {'id' : article.id }) }}">{% include '_article.html.twig' %}</a>
        {% else %}
            <p>Cette article n'est pas encore publiée</p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <p>Liste d'article</p>
{% endblock %}


